<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Fidelity Marketing Challenge</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">

        <div class="d-flex justify-content-center mb-4">
            <h1>Fidelity Marketing Challenge</h1>
        </div>

        <div class="d-flex justify-content-center mb-1">
            <h2>Login</h2>
        </div>


        <form th:action="@{/login}" method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Write Your Username" />

            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input name="password" type="password" id="password" class="form-control" placeholder="Write Your Password" />

            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary">Login</button>
            </div>
        </form>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a th:href="@{/operator/register}">Register</a></p>
        </div>
    </div>

</body>

</html>